p{
    font-weight: 200 !important;
}


.topheader{
    padding: 10px;
    background-color: #004a80;
    color: #ffffff;
    font-size: 12px;
}
.topheader img{
    margin: auto 1%;
}
.sociallinks{
    margin: 0 0 0 10%;
    align-self: center;
    vertical-align: middle;
} 
.carousel{
    height: 448px;
    width: 100%;
}
.carousel-inner{
    height: 448px;
    width: 100%;
}
.carousel-inner img {
    width: 100%;
    height: 448px;
    object-fit: cover;
    object-position: center;
}
.carousel-caption-2{
    left:10%; 
    margin: 0px; 
    padding: 0 0 5% 0;
}

.carousel-caption-3{
    background-color: #ffffff;
    top: 0px;
    left:10%; 
    margin: 0px; 
    padding: 50px;
    position: inherit;
    top: 0px;
    left: 100px;
    z-index: 2;
}

.carousel-caption-2 h1{
    font-size: 25px; 
    font-weight: 300; 
    text-transform: none; 
    text-align: left; 
    width: 60%; 
    margin: 0 300px 0 0; 
    padding: 0px;
}
.carousel-caption{
    display: flex;
    opacity: 90%;
    height: 206px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 1% 0; 
    justify-content: center; 
    align-content: center;
}  
.carousel-caption h3{
    font-weight: 700;
    font-size: 30px;
    width: 70%;
    margin: 0 0 0 10%;
}

.carousel-caption p{
    font-weight: 200;
    font-size: 14px;
    width: 70%;
    margin: 0 0 0 10%;
}
.carousel-indicators{
    justify-content: left;
    margin: 0 0 -6% 7.5%;
    padding: 0px;
}
.carousel-btn{
    position: absolute;
    bottom: 5vw;
    right: 10vw;
    padding: 1vw 4vw;
    border-radius: 5px;
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
}
hr{
    width: 15%;
    background-color: #004a80;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    left: 10%;
}
.solutions-heading{
    margin: 5% 10%;
}
.solutions-heading h6, h1{
    text-transform: uppercase;
    color: #004a80;
    font-weight: 600;
}
.solutions-heading p{
    color:#011111;
    font-size: 25px;
    font-weight: 200;
    margin: 5% 0;
}

.solutions h1{
    font-weight: 600;
    font-size: 1.4em;
}
.solutions p{
    font-weight: 200;
    font-size:14px;
}
.solutions-box{
    background-color:#ffffff;
    margin: 5% 0;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    height: 320px;
}

.mobility-box{
    background-blend-mode:color;
    background-color:#808080;
    background-size: 50px 50px;
    margin: 5% 0;
    padding: 10%;
    border-radius: 5px;
    position: relative;
    height: 320px;
}

.h1-shadow{
    -webkit-text-shadow: 10px 10px 98px 56px rgba(0,0,0,0.75);
    -moz-text-shadow: 10px 10px 98px 56px rgba(0,0,0,0.75);
    text-shadow: 10px 10px 98px 56px rgba(0,0,0,0.75);
}

.solutions-box img{
    height: 40px;
    width: auto;
}

.solutions-box h1{
    font-size: 18px;
}

.solutions-box:hover{
    background-color: #e5f2ff;
    box-shadow: #004a80;
}
.solutions-box img{
    margin: 0 0 15% 0;
}
.btn{
    background-color: #004a80;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
    padding: 15px 0;
    border-radius: 5px;
    width: 100%;
    margin: 1% 0;
}
.btn-stroke{
    color: #ffffff;
    font-weight: 200;
    font-size: .9em;
    padding: 15px 0;
    border-radius: 5px;
    width: 100%;
    margin: 1% 0;
}
.btn-stroke a{
    text-decoration: none;
    color: #ffffff;
}
.btn-stroke:hover{
    background-color: #0179d0;
    color: #ffffff;
    border: none;
    text-decoration: none;
}

.footer h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3%;
}
.footer h5{
    text-transform: uppercase;
    color: #004a80;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3%;
}
.footer p{
    font-size: 12px;
    font-weight: 200;
}
.footer a, li{
    text-decoration: none;
    font-size: 12px;
    margin: 7% 0;
    list-style: none;
    color: #011111;
}
.small-footer{
    margin-top: 50px;
    height: 23px;
    background-color: #e0e0e0;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-weight: 200;
}

.form-bg{
    height: 654px;
    width: 100%;
    background-image: url(./images/formbg.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.he-form-bg{
    height: 654px;
    width: 100%;
    background-image: url(./images/higher-ed-formbg.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.rugged-form-bg{
    height: 654px;
    width: 100%;
    background-image: url(./images/531018286.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.k12-form-bg{
    height: 654px;
    width: 100%;
    background-image: url(./images/k12formbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.dc-form-bg{
    margin: 10% 0 0 0;
    height: 654px;
    width: 100%;
    background-image: url(./images/dc-form-bg.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.mobility-form-bg{
    margin: 10% 0 0 0;
    height: 654px;
    width: 100%;
    background-image: url(./images/stock-photo-san-francisco-skyline-retro-view-america-spirit-california-theme-usa-background-518796124.jpg);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.educ-form-bg{
    margin: 10% 0 0 0;
    height: 654px;
    width: 100%;
    background-image: url(./images/educ-form-bg.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.security-formbg{
    height: 654px;
    width: 100%;
    background-image: url(./images/security-formbg.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.cloud-formbg{
    height: 654px;
    width: 100%;
    background-image: url(./images/cloud-formbg.png);
    background-color: #0d3051;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.form-heading{
    width: 80%;
    margin: auto;
    color: #ffffff;
    text-align: center;
    padding: 10% 0 0 0;
}
.form-heading h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    text-shadow:2px 2px 30px #004a80;
}
.form-heading p{
    text-shadow:2px 2px 30px #004a80;
}

 .pcn-submit{
    background-color: #004a80;
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
    padding: 3% 8%;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 20%;
    margin: 3% 0;
    position: absolute;
    bottom: 0px
}
.container-footer{
    display: flex;
    justify-content: center;
    margin-top: 35%;
    padding: 25px 0;
    background-color: #004a80;
    width: 100%;
}

.pcn-hero{
    padding:7% 10% 20% 10%;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 493px;
    width: 100%;
}

.pcn-hero-text h1{
    color: white;
    font-weight: 300;
    width: 70%;
    margin: 2% auto;
}
.pcn-hero-text p{
    color: white;
    font-weight: 300;
    width: 70%;
    margin: 2% auto;
}

.pcn-mobility-hero{
    padding:0 10% 0 10%;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 493px;
    width: 100%;
}

.pcn-mobility-hero-text h1{
    color: white;
    font-weight: 800;
    width: 70%;
    margin: 10% auto;
}
.pcn-mobility-hero-text p{
    color: white;
    font-weight: 200;
    width: 70%;
    margin: 2% auto;
}

.mobility-text-bg{
    background-color: #ffffff;
    padding: 50px;
}
.pcn-mobility-technologies{
    margin: 10%;
}

.pcn-hero-btn{
    color: white;
    padding: 25px 50px;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: 200;
    font-size: 14px;
    background-color: #004a80;
}
.pcn-hero-btn-stroke{
    color: white;
    padding: 25px 50px;
    border-radius: 5px;
    border: 2px solid;
    border-color: white;
    margin: 0 10px;
    font-weight: 200;
    font-size: 18px;
}
.pcn-hero-btn-he{
    color: white;
    padding: 25px 50px;
    border-radius: 5px;
    margin: 1% auto;
    font-weight: 200;
    font-size: 14px;
    background-color: #004a80;
    width: 100%;
    text-align: left;
}

.hero-btn{
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color:#0179d0;
    color: white;
}
.pcn-row-2{
    display: flex;
    margin: 150px auto;
    width: 90%;
}
.pcn-row-2 p{
    color: black;
    margin: 3% 10%;
    font-size: 18px;
    font-weight: 200;
}
.pcn-row-2 h1{
    margin: 0 10%;
    padding: none;
    font-weight: 300;
    font-size: 40px;
}
h1{
    font-weight: 300;
    font-size: 40px;
}

.pcn-row-3{
    display: flex;
    padding: none;
    margin: none;
}

.pcn-list{
    padding: 0px 50px;
}

.pcn-list li{
    line-height: 100%;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 200;
}
.pcn-icon-btn{
    height: 50px;
    width: auto;
    margin:0 5% 0 0;
}

.cc-btn{
    width: 50%;
    margin: 1% auto;
}

.navbar-nav {
    flex-direction: row;
}
          
.nav-link {
    padding-right: .7rem !important;
    padding-left: .7rem !important;
}
          
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.pcn-slogan h1{
    font-weight: 800; 
    font-size: 30px; 
    color: white; 
    text-align: center;
}
.form-control-text-area{
    height: 300px;
    width: 100%;
    border: solid 1px lightgray;
    padding: 20px;
    font-size: 20px;
}
.pcn-contact-form{
    position: absolute;
    top: -180px;
    right: 40px;
    background-color:#ffffff;
    padding: 30px 20px;
    width: 90%;
    border: solid 2px #efefef;
}
.pcn-contact-hero{
    text-align: center;
    height: 415px;
    width: 50%;
    padding: 120px 0 0 0;
    color:#ffffff;
    margin: auto;
}

.pcn-contact-hero h1{
    color: #004a80;
    font-weight: 300px;
    font-weight: 300;
}
.pcn-contact-hero p{
    color: #000000;
    font-weight: 300px;
    font-weight: 300;
}
@media only screen and (max-width: 1112px) {
    .carousel-indicators{
        justify-content: left;
        margin: 0 0 -6% 8%;
        padding: 0px;
    }
    .pcn-icon-btn{
        height: 20px;
        width: auto;
        margin:0 5% 0 0;
    }
    .pcn-hero-btn-he{
        padding: 25px 20px;
        font-size: 10px;
    }
    .pcn-icon-btn{
        height: 25px;
        width: auto;
        margin:0 2% 0 0;
        }
    .pcn-row-2{
        margin: 100px 0;
    }
    .pcn-row-2 h1{
        font-size: 30px;
    }
    .pcn-contact-hero{
        width: 100%;
    }
    .pcn-contact-form{
        position: unset;
        top: none;
        right: none ;
        background-color:#ffffff;
        padding: 30px;
        width: 90%;
        border: solid 2px #efefef;
    }
}
@media only screen and (max-width: 768px) {
    .carousel-indicators{
        justify-content: left;
        margin: 0 0 -6% 9%;
        padding: 0px;
    }
    .pcn-icon-btn{
        height: 20px;
        width: auto;
        margin:0 5% 0 0;
    }
    .pcn-hero-btn-he{
        padding: 25px 20px;
    }
    .pcn-hero-btn-he a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-indicators{
        justify-content: left;
        margin: 0 0 -6% 5%;
        padding: 0px;
    }
    .topheader{
        text-align: center;
        font-size: 12px;
    }
    .topheader a{
        margin: 10px 0;
    }
    .carousel-btn{
        position: absolute;
        bottom: auto;
        left: 5%;
        width: 90%;
    }
    .carousel-caption h3{
        font-weight: 700;
        font-size: 22px;
        width: 100%;
        margin: 20px auto 0 auto;
        padding: 0 5px;
    }
    
    .carousel-caption p{
        font-weight: 200;
        font-size: 12px;
        width: 100%;
        margin: 3px auto;
        padding: 0 5px;
    }
    .solutions-heading{
        margin-top: 50px;
    }
    .solutions-heading h1{
        font-size: 25px;
    }
    .solutions-heading p{
        font-size: 15px;
    }
    .form-control-text-area{
        height: 150px;
    }
    .pcn-slogan h1{
        font-size: 20px;
    }
    .carousel-caption{
        display: inline;
    }
    
    .carousel-caption-2 h1{
        font-size: 20px;
        margin: auto 0 auto 10%;
    }
   .pcn-row-2{
       margin: 10% auto;
       display: inline;
   }

   .hero-btn{
       display: inline;
       margin: 3% 0;
   }
   .pcn-hero-btn{
       margin: 2% 0;
   }
   .pcn-hero-btn-he{
       padding-left: 30px;
       padding-right: 30px;
       margin-top: 10px;
       width: 100%;
   }

   .pcn-from-input{
       margin: 2% 0;
   }
   .cc-btn{
       width: 100%;
       margin: auto 0px;
   }
   .pcn-mr{
       margin: 300px 0px;
   }
   .pcn-icon-btn{
    height: 20px;
    width: auto;
    margin:0 5% 0 0;
}
  }